{{> nav_links}}

<h1>My Stories</h1>

<a href="/story-add">Add a Story</a>
<ul>
  {{#each storyArray}}
  <li>
    <h5>{{this.name}}, {{this.profession}} </h5>
    <a href="/your-story/{{this._id}}">Read her story</a>
    <a href="/your-story/{{this._id}}/edit">Edit</a>
    <a href="/your-story/{{this._id}}/delete">Delete</a>
  </li>

  {{/each}}
</ul>