{{> nav_links}}

<!-- Page Content -->
<div class="container body-star onestoryContainer" style="background-image: url({{storyData.pictureUrl}})">


  <div class="border-0 shadow secondcard">

    <h1 class="font-weight-light onepeopleName">{{storyData.name}}</h1>

    <div class=" row">
      <div class="onepeopleImg d-flex justify-content-center col-lg-5">
        <img src="{{storyData.pictureUrl}}" alt="{{storyData.name}} image" class=" img-fluid story-img" />
      </div>

      <div class="onepeopleContent col-lg-7">

        <div class="topContent">
          <h5>{{storyData.profession}}</h5>
          <p>{{storyData.year}} - {{storyData.country}}</p>
          <p>{{storyData.description}}</p>
          <h5 class="quote">" {{storyData.quote}} "</h5>
        </div>

        <div class="bottomContent">
          <a href="/goodnight"><button class="button">Goodnight</button></a>
        </div>
      </div>
    </div>

    {{!-- <div style="height: 700px"></div> --}}
    {{!-- <p class="lead mb-0">You've reached the end!</p> --}}
  </div>
</div>
{{> footer}}