{{> nav_links}}

{{#each randomStory }}
<h4>{{name}}</h4>
<h5>{{profession}}</h5>
<h6>{{year}}, {{country}}</h6>
<p>{{description}}</p>
<img src="{{pictureUrl}}" alt="image" />
<p>{{quote}}</p>

<<<<<<< HEAD
<h4>{{name}}</h4>
<h5>{{profession}}</h5>
<h6>{{year}}, {{country}}</h6>
<p>{{description}}</p>
<img src="{{this.pictureUrl}}" alt="image" />
<p>{{quote}}</p>
=======
{{/each}}
>>>>>>> fef16b1c3dd724cd1af771c36ec9e94a2de6d52a
