{{> nav_links}}

{{#each randomStory }}
<h4>{{name}}</h4>
<h5>{{profession}}</h5>
<h6>{{year}}, {{country}}</h6>
<p>{{description}}</p>
<img src="{{pictureUrl}}" alt="image" />
<p>{{quote}}</p>

{{/each}}