{{> nav_links}}

{{!-- {{#each storyData }} --}}
<h4>{{storyData.name}}</h4>
<h5>{{storyData.profession}}</h5>
<h6>{{storyData.year}}, {{country}}</h6>
<p>{{storyData.description}}</p>
<img src="{{storyData.pictureUrl}}" alt="image" />
<p>{{storyData.quote}}</p>

{{!-- {{/each }} --}}

<a href="/goodnight" class="button">Goodnight</a>