{{> nav_links}}


<h4>{{storyInfos.name}}</h4>
<h5>{{storyInfos.profession}}</h5>
<h6>{{storyInfos.year}}, {{storyInfos.country}}</h6>
<p>{{storyInfos.description}}</p>
<img src="{{storyInfos.pictureUrl}}" alt="image" />
<p>{{storyInfos.quote}}</p>



<a href="/goodnight" class="button">Goodnight</a>