{{> nav_links}}

<h4>{{storyItem.name}}</h4>
<h5>{{storyItem.profession}}</h5>
<h6>{{storyItem.year}}, {{storyItem.country}}</h6>
<p>{{storyItem.description}}</p>
<img src="{{storyItem.pictureUrl}}" alt="image" />
<p>{{storyItem.quote}}</p>